{% extends 'base.html' %}
{% load static %}
{% block cabeceras%}
{% endblock %}
{% block cuerpo %}
<div class="container">
    <div class="container-fluid p-4">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <a href="pago_paciente" style="text-decoration: none; color: inherit;">
                    <div class="card h-100">
                        <div class="card-body">
                            <p class="card-text">Registrar pago Paciente</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>    

{% endblock %}